    .calculation-button{
      width: 70px; 
      height: 70px; 
      border-radius: 35px;
      margin-right: 5px;
      cursor: pointer;
      font-size: 15px;
      border: none;
    }
    .grey-button {
      background-color: black;
      color: white;
      
    }
    .yellow-button{
      background-color: rgb(254, 160, 10);
      color: white;
    }